:root{
    --primary: black;
    --accent: rgb(29, 155, 240);
    --text-color: rgb(217, 217, 217);
}
    
body{
    background-color: var(--primary);
}
#left-section{
    background-image: url('/images/mumbai.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: black;
    
}
#left-section i{
    color: var(--accent);
    font-size: 20rem;
    
}
.footer-item{
    font-size: 12px;
    padding: 8px;
}
.footer-item:hover{
    text-decoration: underline;
}
.container-footer{
    /* width: 90%; */
    text-align: center;
    padding: 12px 0px;
}
.dark-bg{
    background-color: var(--primary);
    color: var(--text-color);
}
/* 
right section */

#right-section{
    background-color: var(--primary);
    color: var(--text-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#right-section #top-twit-icon{
    font-size: 3rem;
}
#right-section h1{
    font-size: 4rem;
    font-weight: 700;
    word-wrap: wrap;
}



#right-section h3{
    font-weight: 400;
    font-size: 2rem;
}
.btn-wrapper span{
    color: var(--accent);
}

.btn-wrapper span:hover{
    text-decoration: underline;
}
.agreement{
    font-size: 12px;
    max-width: 300px;
}


#right-section .btn-block{
    padding: 8px 16px;
    max-width: 300px;
    border-radius: 20px;
}
.btn-wrapper >button i{
    font-size:25px;
    margin-right: 20px;

   
}

/* form card  */
#form-card{
    background-color: var(--primary);
    color:rgba(255, 255, 255, 0.452);
    border-radius: 16px;
}
#form-card h3{
color:var(--text-color);
font-weight: bold;
}
.input-wrapper{
    border: 1px solid var(--accent);
    border-radius: 4px;
    padding: 8px;

}


.form-icons{
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}
.form-icons span:first-child{
    /* background-color: rgba(255, 255, 255, 0.253); */
    padding: 6px;
    border-radius: 50%;
    box-sizing: border-box;
}

.font-bold{
    font-weight: bold;
    font-size: 20px;
    color: var(--text-color);
}
.font-small{
    font-size: 14px;
    font-weight: 400;
}
.space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-control{
    background-color: transparent;
    border: none;
    padding:0;
}

.form-text-tranform{
    transform: translateY(10px);
}
.form-text-tranform .hide{
    visibility: hidden;
}
.form-container{
    position: absolute;
    z-index: 1;
    top: 20px;
}
.form-wrapper{
    display: flex;
    justify-content: center;
    z-index: 1;
}

#date{
    background-color: transparent;
    margin-bottom: 20px;
    /* padding: 8px 16px; */
    color:var(--text-color);
}
input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    opacity: 0.6;
    filter: invert(0.8);
    outline: none;
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator:hover {
    opacity: 1;
    outline: none;
  }
/* media queries */
@media (max-width:750px) {
    #right-section{
        width: 100%;
    }
    
}
